# Configuration file

general {
    # Set to false to prevent caves from generating above 128 (Vanilla Default
    B:"Allow Higher Caves"=true

    # The average ground level the world provider should return for the overworld
    I:"Average ground level"=23

    # Set to whatever value between 1-256 you wish caves to stop at
    # Min: 1
    # Max: 256
    I:"Cave Height Limit"=256

    # Set to the value you wish the sun/moon to be at. 0f = midnight
    D:"Celestial Angle Value"=0.5

    # Class name for the chunk generator
    S:"Chunk Generator"=

    # Set to true or false to determine if all coordinates show or don't show fog
    B:"Fog Value (Overriden)"=false

    # Superflat generation string
    S:Generation=3;minecraft:bedrock,254*minecraft:stone,minecraft:bedrock;0;dungeon,decoration,caves,stronghold,animals,ice,village

    # Set to true to override the celestial angle and prevent the day/night cycle from having a visual
    B:"Override Celestial Angle"=true

    # Set to true to override x/y shows fog from returning default and using the value specified below
    B:"Override Fog Value"=true

    # Set to false to prevent replacement of the World Provider. This means that stone-filled worlds will have their spawn point above the world. Set to true to replace, meaning a suitable cave will be found.
    B:"Replace Provider For Spawning-In-Caves"=true

    # Set to false to prevent the sky from being coloured
    B:"Sky Coloured"=false

    # Number of times to attempt to find a spawn location.
    I:"Spawn Location Attempts"=50
}


